USE [master]
GO
/****** Objeto: Database [HotelUNEDDb] Fecha de script: 9/8/2026 19:29:50 ******/
CREATE DATABASE [HotelUNEDDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelUNEDDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HotelUNEDDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelUNEDDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HotelUNEDDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelUNEDDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelUNEDDb]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 9/8/2026 19:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Identificacion] [varchar](20) NOT NULL,
	[TipoIdentificacion] [varchar](20) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NULL,
	[FechaNacimiento] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empleados] Fecha de script: 9/8/2026 19:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Identificacion] [varchar](20) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NULL,
	[Puesto] [varchar](50) NOT NULL,
	[Provincia] [varchar](50) NOT NULL,
	[Canton] [varchar](50) NOT NULL,
	[Distrito] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Habitaciones] Fecha de script: 9/8/2026 19:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitaciones](
	[Numero] [varchar](10) NOT NULL,
	[Tipo] [varchar](30) NOT NULL,
	[PrecioPorNoche] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reservaciones] Fecha de script: 9/8/2026 19:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservaciones](
	[CodigoReservacion] [varchar](50) NOT NULL,
	[ClienteId] [varchar](20) NOT NULL,
	[HabitacionNumero] [varchar](10) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaSalida] [datetime] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[SolicitudesEspeciales] [varchar](250) NULL,
	[TarifaCalculada] [decimal](10, 2) NOT NULL,
	[PorcentajeDescuento] [decimal](5, 2) NOT NULL,
	[MontoTotal] [decimal](10, 2) NOT NULL,
	[FechaRealizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoReservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([Identificacion], [TipoIdentificacion], [Nombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento]) VALUES (N'101110222', N'Nacional', N'Juan', N'Perez', N'Mora', CAST(N'1995-05-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Clientes] ([Identificacion], [TipoIdentificacion], [Nombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento]) VALUES (N'202220333', N'Nacional', N'Maria', N'Gonzalez', N'Rojas', CAST(N'1998-10-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Clientes] ([Identificacion], [TipoIdentificacion], [Nombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento]) VALUES (N'34343434', N'Pasaporte', N'Luisa', N'Mendez', N'Mendez', CAST(N'2008-08-08T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Empleados] ([Identificacion], [Nombre], [PrimerApellido], [SegundoApellido], [Puesto], [Provincia], [Canton], [Distrito]) VALUES (N'303330444', N'Carlos', N'Sanchez', N'Vargas', N'Recepcionista', N'San Jose', N'Central', N'Carmen')
INSERT [dbo].[Empleados] ([Identificacion], [Nombre], [PrimerApellido], [SegundoApellido], [Puesto], [Provincia], [Canton], [Distrito]) VALUES (N'80808080', N'Jorge', N'Fallas', N'Loria', N'Mantenimiento', N'Heredia', N'Aurora', N'Hospital')
GO
INSERT [dbo].[Habitaciones] ([Numero], [Tipo], [PrecioPorNoche], [Estado]) VALUES (N'101', N'Simple', CAST(45000.00 AS Decimal(10, 2)), N'Disponible')
INSERT [dbo].[Habitaciones] ([Numero], [Tipo], [PrecioPorNoche], [Estado]) VALUES (N'102', N'Suite', CAST(120000.00 AS Decimal(10, 2)), N'Disponible')
INSERT [dbo].[Habitaciones] ([Numero], [Tipo], [PrecioPorNoche], [Estado]) VALUES (N'444', N'Suite', CAST(54.00 AS Decimal(10, 2)), N'Disponible')
GO
INSERT [dbo].[Reservaciones] ([CodigoReservacion], [ClienteId], [HabitacionNumero], [FechaInicio], [FechaSalida], [Estado], [SolicitudesEspeciales], [TarifaCalculada], [PorcentajeDescuento], [MontoTotal], [FechaRealizacion]) VALUES (N'RES-001', N'101110222', N'101', CAST(N'2026-08-11T13:53:45.520' AS DateTime), CAST(N'2026-08-13T13:53:45.520' AS DateTime), N'Activa', N'Piso alto', CAST(90000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(90000.00 AS Decimal(10, 2)), CAST(N'2026-08-09T13:53:45.520' AS DateTime))
INSERT [dbo].[Reservaciones] ([CodigoReservacion], [ClienteId], [HabitacionNumero], [FechaInicio], [FechaSalida], [Estado], [SolicitudesEspeciales], [TarifaCalculada], [PorcentajeDescuento], [MontoTotal], [FechaRealizacion]) VALUES (N'RES-002', N'202220333', N'102', CAST(N'2026-08-12T13:53:45.520' AS DateTime), CAST(N'2026-08-15T13:53:45.520' AS DateTime), N'Activa', N'Vista al jardin', CAST(360000.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(324000.00 AS Decimal(10, 2)), CAST(N'2026-08-09T13:53:45.520' AS DateTime))
INSERT [dbo].[Reservaciones] ([CodigoReservacion], [ClienteId], [HabitacionNumero], [FechaInicio], [FechaSalida], [Estado], [SolicitudesEspeciales], [TarifaCalculada], [PorcentajeDescuento], [MontoTotal], [FechaRealizacion]) VALUES (N'RES-36931705', N'777777777777', N'102', CAST(N'2026-08-09T00:00:00.000' AS DateTime), CAST(N'2026-08-10T00:00:00.000' AS DateTime), N'Activa', N'fumador', CAST(120000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(135600.00 AS Decimal(10, 2)), CAST(N'2026-08-09T18:54:33.940' AS DateTime))
GO
ALTER TABLE [dbo].[Reservaciones] ADD  DEFAULT (getdate()) FOR [FechaRealizacion]
GO
ALTER TABLE [dbo].[Reservaciones]  WITH CHECK ADD  CONSTRAINT [FK_Reservaciones_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Identificacion])
GO
ALTER TABLE [dbo].[Reservaciones] CHECK CONSTRAINT [FK_Reservaciones_Clientes]
GO
ALTER TABLE [dbo].[Reservaciones]  WITH CHECK ADD  CONSTRAINT [FK_Reservaciones_Habitaciones] FOREIGN KEY([HabitacionNumero])
REFERENCES [dbo].[Habitaciones] ([Numero])
GO
ALTER TABLE [dbo].[Reservaciones] CHECK CONSTRAINT [FK_Reservaciones_Habitaciones]
GO
USE [master]
GO
